/* Necessary to override react-slick styles */

.slick-arrow {
  width: 36px;
  height: 360px;
  padding: 0;
  background-repeat: no-repeat;
  background-color: #d13b7c;
  bottom: 0;
  top: 180px;
  color: #ebebeb;
  font-size: 36px;

  &::before {
    content: none;
  }
  
  &:hover, &:focus {
    color: #ebebeb;
    background-color: #c42e6f;
  }
  &.slick-prev {
    z-index: 2;
    left: 0;
  }
  &.slick-next {
    right: 0;
    z-index: 1;
  }
  &.slick-disabled {
    display: none;
  }
}